{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form method="get" action="{{ url('report') }}">
            <div class="form-row align-items-end justify-content-md-center">
                <div class="form-group col-3">
                    {% if form.errors.from_date %}<p class="text-danger h6">{{ form.errors.from_date|striptags }}</p>{% endif %}
                    <label for="from-date-input">От даты:</label>
                    <input class="form-control" type="date" value="{{ from_date }}" id="from-date-input" name="from_date">
                </div>
                <div class="form-group col-3">
                    {% if form.errors.to_date %}<p class="text-danger h6">{{ form.errors.to_date|striptags }}</p>{% endif %}
                    <label for="to-date-input">До даты:</label>
                    <input class="form-control" type="date" value="{{ to_date }}" id="to-date-input" name="to_date">
                </div>
                <div class="form-group col align-bottom">
                    <button type="submit" class="btn btn-outline-info">Сформировать отчёт</button>
                </div>
            </div>
        </form>
    <br>
    <br>
        <div class="row">
            <div class="col">
                <p class="text-center h5">Отчёт с {{ from_date }} по {{ to_date }}</p>
                <br>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Выручка, руб.</th>
                            <th scope="col">Прибыль, руб.</th>
                            <th scope="col">Кол-во чеков</th>
                            <th scope="col">Средний чек, руб.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in orders %}
                            {% if date=='total' %}
                                <tr>
                                    <th scope="row" colspan="2">Итого:</th>
                                    <th scope="row">{{ "{:.2f}".format(orders[date].revenue) }}</th>
                                    <th scope="row">{{ "{:.2f}".format((orders[date].revenue - orders[date].cost)|round(2, 'common')) }}</th>
                                    <th scope="row">{{ orders[date].count_orders }}</th>
                                    <th scope="row">{{ "{:.2f}".format((orders[date].revenue / orders[date].count_orders)|round(2, 'common')) }}</th>
                                </tr>
                            {% else %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ date }}</td>
                                    <td>{{ "{:.2f}".format(orders[date].revenue) }}</td>
                                    <td>{{ "{:.2f}".format((orders[date].revenue - orders[date].cost)|round(2, 'common')) }}</td>
                                    <td>{{ orders[date].count_orders }}</td>
                                    <td>{{ "{:.2f}".format((orders[date].revenue / orders[date].count_orders)|round(2, 'common')) }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}